#today-sale {
  background-color: var(--bg-light);
  height: max-content;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* top section css */
.today-sale-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-summary {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--text-lg);
  font-weight: 600;
}

.title-description {
  font-size: var(--text-base);
  font-weight: 700;
  color: var(--text-regular);
}

.title-button {
  border: 1px solid var(--text-gray);
  border-radius: 0.5em;
  padding-inline: 0.7em;
  padding-block: 0.5em;

  display: flex;
  align-items: center;
  gap: 0.4em;
}

/* .bottom-section css */

.bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.admin-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 0.5em;

  /* border: 1px solid var(--text-gray); */
  padding: 0.7em;
  border-radius: 0.5em;

  font-size: var(--text-sm);
  color: var(--text-dark);

  width: 100%;
}

.data {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  width: 90%;
}

.data__icon {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.1em;
  border-radius: 48%;
  color: var(--bg-light);
  font-size: 1.3rem;

  width: 40px;
  height: 40px;
}

.data__amount {
  font-size: 1.5rem;
  font-weight: 700;
}

.data-desc {
  display: flex;
  flex-direction: column;
}

.data-desc__label {
  font-size: 1rem;
  font-weight: 700;
}

.data-desc__description {
  font-size: 0.7rem;
  font-weight: 500;
  color: #4079ed;
}

@media screen and (--viewport-small) {
  .bottom-section {
    flex-direction: row;
  }

  .admin-card {
    width: 47%;
  }
}
