.reset {
  display: flex;
  align-self: stretch;
}

.reset-image {
  display: none;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.reset-form {
  width: 100%;

  display: flex;
  justify-content: center;

  padding-block: 3em;
}

.reset-form__container {
  max-width: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-title {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--text-dark);
}

.form-input-description {
  width: 100%;
  color: var(--text-regular);
}

.form-label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-regular);
}

.form-button {
  background-color: var(--button-dark);
  color: var(--bg-light);
}

.form-link > a {
  font-weight: 600;
  color: var(--text-purple);
}

@media screen and (--viewport-medium) {
  .reset-image {
    display: block;
    width: 50%;
  }

  .reset-form {
    width: 50%;
  }
}
