.objective-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 4rem;
  border: none;
  border-radius: 20px;

  height: 90vh;
  overflow: hidden;
}

.objective-container .objective-content {
  background-image: url("/assets/images/Objective/leaf_image.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.objective {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.objective__title {
  font-size: var(--text-lg);
  font-weight: 700;
}

.objective__description {
  font-weight: 400;
  font-size: var(--text-sm);
}

.objective-container .right {
  background-image: url("/assets/images/Objective/objective_image2.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}

.objective__button {
  font-size: var(--text-xs);
  font-weight: 700;
  color: var(--text-dark);
  background-color: var(--bg-light);
  width: max-content;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.objective__button:hover {
  background-color: #fff;
}

@media screen and (--viewport-small) {
  .objective {
    height: 70%;
  }
}

@media screen and (--viewport-medium) {
  .objective {
    height: 60%;
  }

  .objective__description {
    font-size: var(--text-base);
  }

  .objective__button {
    font-size: var(--text-base);
    padding: 0.5em 1.2em;
  }

  .objective-container {
    flex-direction: row;
    height: 500px;
  }

  .objective__title {
    font-size: var(--text-xl);
    font-weight: 700;
  }
}
