#dashboard-home {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(min-content, auto);
  grid-template-areas:
    "a a a a a a a"
    "b b b b b b b"
    "c c c c c c c"
    "d d d d d d d"
    "e e e e e e e";
  gap: 1em;
  width: 90%;
  margin-inline: auto;
  padding-bottom: calc(70.36px + 2em);
  padding-top: 1em;
  height: calc(100dvh - 75px);
}

#dashboard-home > * {
  min-height: 100px;
  background-color: var(--bg-light);
  border-radius: 0.5em;
  padding: 2em;
  border: 1px solid var(--text-gray);
}

.dashboard-home__title {
  font-size: var(--text-base);
  font-weight: bolder;
  margin-bottom: 0.5em;
  color: var(--text-dark);
}

#today-sale {
  grid-area: a;
}

#visitor-insight {
  grid-area: b;
}

#top-products {
  grid-area: c;
}

#target-vs-reality {
  grid-area: d;
  padding: 0;
}

#total-revenue {
  grid-area: e;
}

@media screen and (--viewport-medium) {
  #dashboard-home {
    grid-template-areas:
      "a a a a b b b"
      "c c c c c d d"
      "e e e e e e e";
    padding: 2em;
  }
}
