@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  img {
    width: 100%;
  }

  body {
    overflow-x: hidden;
    font-family: var(--body-font);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font);
  }
}

:root {
  --text-regular: #807d7e;
  --text-dark: #3c4242;
  --text-purple: #8a33fd;
  --text-light: #f6f6f6;

  --bg-light: #f6f6f6;
  --footer-bg-color: #3c4242;

  --button-light: #fffff;
  --button-dark: #8a33fd;

  --border-light: #3c4242;

  --text-2xs: 0.5rem;
  --text-xs: 0.7rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.24rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.75rem;
  --text-3xl: 2rem;
}

@layer components {
  .container {
    width: 90%;
    margin: 0 auto;
    max-width: 97rem;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .card {
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .card__content {
    width: 50%;
  }

  .card__title {
    font-size: var(--text-2xl);
    font-weight: bold;
    line-height: 1.4em;
  }

  .divider {
    border-top: 1px solid var(--text-regular);
  }

  @media only screen and (--viewport-medium) {
    .container {
      width: 85%;
    }

    .cards {
      flex-direction: row;
    }
  }
}
