@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  img {
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }
}

:root {
  --text-regular: #807d7e;
  --text-dark: #3c4242;
  --text-purple: #8a33fd;

  --bg-light: #f6f6f6;

  --button-light: #fffff;
  --button-dark: #8a33fd;

  --border-light: #3c4242;

  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
}

@layer components {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
