.shop {
  margin-block: 2em;
}

.shop__sidebar {
  display: hidden;
}

.shop__products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.product__image {
  border-radius: 0.7em;
  max-height: 35rem;
  object-fit: cover;
  object-position: center;
}

.product__description {
  margin-top: 1em;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.product__name {
  font-size: var(--text-base);
  color: var(--text-dark);
}

.product__brand {
  font-size: var(--text-xs);
  color: var(--text-regular);
}

.product__price {
  font-size: var(--text-sm);
  color: var(--text-dark);
  padding: 0.7em 1em;
  background-color: var(--bg-light);
  border-radius: 0.7em;
}
