.orders__overflow-wrapper {
  overflow-x: auto;
}
.orders {
  color: var(--text-dark);
  min-width: 100%;
  tr {
    display: grid;
    width: 100%;
    grid-template-columns: auto minmax(8rem, 1fr) 8rem 15rem 5rem 5rem;
    gap: 1rem;
    padding: 0.7em 0;
    border-bottom: 1px solid #d6d2d4;
    align-items: center;
    justify-content: start;
    justify-items: start;
    gap: 1rem;
    padding-inline: 0.2rem;
    font-size: var(--text-xs);
  }
  td {
    width: 100%;
    overflow: auto;
  }
}

.orders__header {
  color: #bebcbd;
  text-align: left;
}

#orders {
  margin-top: 1em;
  h2 {
    font-size: var(--text-lg);
  }
}

@media only screen and (--viewport-medium) {
  .orders {
    tr {
      grid-template-columns: 1.5rem 1fr 8rem 15rem 5rem 5rem;
    }
  }
}

@media only screen and (--viewport-large) {
  .orders {
    tr {
      justify-content: space-between;
      gap: 2rem;
      padding-inline: 1.5rem;
    }
  }
}
