.signup {
  display: flex;
  align-self: stretch;
}

.signup-image {
  display: none;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.signup-form {
  width: 100%;

  display: flex;
  justify-content: center;

  padding-block: 3em;
}

.signup-form__container {
  max-width: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-title {
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--text-dark);
}

.form-input {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
}

.eyeIcon {
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  right: 0.6em;
}

.form-input-description {
  width: 100%;
  color: var(--text-regular);
}

.form-label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-regular);
}

.form-button {
  background-color: var(--button-dark);
  color: var(--bg-light);
}

.form-link > a {
  font-weight: 600;
  color: var(--text-purple);
}

@media screen and (--viewport-medium) {
  .signup-image {
    display: block;
    width: 50%;
  }

  .signup-form {
    width: 50%;
  }
}
